.overview-card {
  padding: 16px;
  display: flex;
  justify-content: space-between;
  background-color: #ffffff;
  gap: 40px;
  margin-top: 30px;
  border-radius: 14px;
  border: 1px solid #eef1ff;
  height: 123px;
  align-items: center;
  width: 308px;
}

.overview-content .overview-number {
  font-size: 32px;
  font-weight: 600;
}
