.dashboard-header {
  display: flex;
  justify-content: space-between;
}

#dashboard-heading {
  font-size: 30px;
  font-weight: 700;
}

#dashboard-p {
  font-size: 14px;
  font-weight: 400;
  color: #464555;
}
.dashboard-breadcrumb {
  display: flex;
  font-size: 11px;
  font-weight: 600;
  margin: 0 0 4px;
  align-items: center;
}

.dashboard-breadcrumb :nth-child(1) {
  color: #464555;
}

.dashboard-breadcrumb :nth-child(3) {
  color: #3025cd;
}

.dashboard-header-buttons {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  gap: 5px;
}

.dashboard-header-buttons > div {
  padding: 8px 12px;
  height: 40px;

  border-radius: 6px;
}

.dashboard-header-buttons-button {
  display: flex;
  justify-content: center;
  background-color: #f2f3ff;
  align-items: center;
  font-size: 13px;
  font-weight: 500;
  gap: 5px;
}
