.holiday-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 24px;
}

.holiday-header-title > h1 {
  font-size: 30px;
  font-weight: 600;
}

.holiday-header-title > p {
  font-size: 14px;
  color: #464555;
}

.holiday-header-button {
  padding: 8px 16px;
  background-color: #3525cd;
  border-radius: 10px;
  font-size: 12px;
  font-weight: 600;

  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  gap: 5px;
}

.holiday-filter {
  margin-bottom: 24px;
  padding-bottom: 16px;
  border-bottom: 1px solid #eef1ff;
  font-size: 12px;
  font-weight: 600;
  color: #464555;
  gap: 30px;
  display: flex;
}

/* ???? */

.holiday-cards-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 30px;
}

.holiday-card {
  padding: 20px;
  display: flex;
  flex-direction: column;
  background-color: white;
  border: 1px solid #eef1ff;
  border-radius: 10px;
  font-size: 12px;
  width: 416px;
}

.holiday-card-logo {
  width: 50px;
  height: 50px;
  background-color: #eae9fa;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.holiday-card-title {
  display: flex;
  justify-content: space-between;
}

.holiday-card-content {
  margin-top: 12px;
}

.holiday-card-content h3 {
  font-size: 16px;
}

.holiday-card-content > :nth-child(2) {
  margin-top: 4px;
  color: #3525cd;
  font-weight: 600;
}

.holiday-card-content > :nth-child(3) {
  margin-top: 8px;
}

.holiday-card-footer {
  margin-top: 16px;
  padding-top: 12px;
  border-top: 1px solid #eef1ff;

  display: flex;
  justify-content: space-between;
}

.holiday-card-days {
  padding: 2px 8px;
  background-color: #eae9fa;
  font-weight: 600;
  color: #464555;
  border-radius: 10px;
}

.holiday-card-left {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #00634b;
  font-weight: 700;
  gap: 10px;
}

.holiday-card-left-dot {
  width: 8px;
  height: 8px;
  border-radius: 999px;
  background-color: #005338;
}

.holiday-card-right {
  color: #464555;
  font-weight: 600;
}
